DB_NAME = accounts
DB_PORT = 5432
DB_HOST = accounts-db
DB_PASSWORD = 
DB_USER = 
DB_ENGINE = postgresql
DATABASE = postgresql

CRUDADMIN_PASSWORD=
CRUDADMIN_USERNAME=

POSTGRES_DB = accounts
POSTGRES_USER = 
POSTGRES_PASSWORD = 
