DB_NAME = projects
DB_PORT = 5432
DB_HOST = projects-db
DB_PASSWORD = 
DB_USER = 
DB_ENGINE = postgresql
DATABASE = postgresql

POSTGRES_DB = projects
POSTGRES_USER = 
POSTGRES_PASSWORD = 
